:root {
  --primary: #EE4B2B;
  --secondary: #000;
  --foot-tf: #3A3835;
  --text-color: #AAAAAA;
  --education: #0266FF;
  --software-gradient: linear-gradient(90deg, #FF7F50 0%, #FF6BD5 100%);
  --branding-gradient: linear-gradient(90deg, #580FE4 0%, #FF7F50 100%);
  --dd-side-padding: 40px;
  --md-side-padding: 20px;
  --max-width: 1800px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-centrale-sans);
}

a {
  color: inherit;
  text-decoration: none;
}

